server {
    listen 80;
    server_name {{ server_name }};
    
    location / {
        root {{ html_location }};
        index index.html index.htm;
 
        # Deny access by default
        deny all;
 
        # Allow access only from specified IPs
        {% for ip in allowed_ips %}
        allow {{ ip }};
        {% endfor %}
    }
}